@import "tailwindcss";

@theme {
  /* Rich Cerulean */
  --color-rich-cerulean-50: #ecf2f8;
  --color-rich-cerulean-100: #d9e6f2;
  --color-rich-cerulean-200: #b4cce4;
  --color-rich-cerulean-300: #8eb2d7;
  --color-rich-cerulean-400: #6899ca;
  --color-rich-cerulean-500: #427fbd;
  --color-rich-cerulean-600: #356697;
  --color-rich-cerulean-700: #284c71;
  --color-rich-cerulean-800: #1b334b;
  --color-rich-cerulean-900: #0d1926;
  --color-rich-cerulean-950: #09121a;

  /* Cobalt Blue */
  --color-cobalt-blue-50: #e5f1ff;
  --color-cobalt-blue-100: #cce3ff;
  --color-cobalt-blue-200: #99c7ff;
  --color-cobalt-blue-300: #66abff;
  --color-cobalt-blue-400: #338fff;
  --color-cobalt-blue-500: #0073ff;
  --color-cobalt-blue-600: #005ccc;
  --color-cobalt-blue-700: #004599;
  --color-cobalt-blue-800: #002e66;
  --color-cobalt-blue-900: #001733;
  --color-cobalt-blue-950: #001024;

  /* Iron Grey */
  --color-iron-grey-50: #f1f2f4;
  --color-iron-grey-100: #e3e6e8;
  --color-iron-grey-200: #c7ccd1;
  --color-iron-grey-300: #abb3ba;
  --color-iron-grey-400: #8f99a3;
  --color-iron-grey-500: #737f8c;
  --color-iron-grey-600: #5c6670;
  --color-iron-grey-700: #454c54;
  --color-iron-grey-800: #2e3338;
  --color-iron-grey-900: #17191c;
  --color-iron-grey-950: #101214;

  /* Shadow Grey */
  --color-shadow-grey-50: #f1f2f3;
  --color-shadow-grey-100: #e3e5e8;
  --color-shadow-grey-200: #c7cbd1;
  --color-shadow-grey-300: #acb2b9;
  --color-shadow-grey-400: #9098a2;
  --color-shadow-grey-500: #747e8b;
  --color-shadow-grey-600: #5d656f;
  --color-shadow-grey-700: #464c53;
  --color-shadow-grey-800: #2e3238;
  --color-shadow-grey-900: #17191c;
  --color-shadow-grey-950: #101213;

  /* Black */
  --color-black-50: #f0f0f5;
  --color-black-100: #e1e1ea;
  --color-black-200: #c3c3d5;
  --color-black-300: #a5a5c0;
  --color-black-400: #8787ab;
  --color-black-500: #696996;
  --color-black-600: #545478;
  --color-black-700: #3f3f5a;
  --color-black-800: #2a2a3c;
  --color-black-900: #15151e;
  --color-black-950: #0f0f15;
}
